body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e90ff, #ff6347);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-card {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
    animation: fadeIn 1s ease-in-out;
}

.login-card h1 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.google-btn {
    background-color: #db4437; /* Google red */
}

.google-btn:hover {
    background-color: #c23321;
}

label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #333;
}

label i {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
